@model List<ResultCarWithBrandDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col">
                            <h4 class="card-title">Araç Listesi</h4>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <a href="/AdminCar/CreateCar" class="btn btn-outline-primary btn-rounded waves-effect waves-light shadow-sm">
                                <i class="mdi mdi-plus-circle-outline"></i> Yeni Araç Ekle
                            </a>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col">
                            <p class="card-subtitle mb-4">
                                Araçlarla ilgili ekleme, silme, güncelleme, arama ve listeleme gibi işlemleri bu sayfa güzerinden gerçekleştirebilirsiniz.
                            </p>
                        </div>

                    </div>
                    <div class="table-responsive">
                        <table class="table table-hover mb-0">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Görsel</th>
                                    <th>Marka</th>
                                    <th>Model</th>
                                    <th>Km</th>
                                    <th>Vites</th>
                                    <th>Aksiyon</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    count++;
                                    <tr>
                                        <th scope="row">@count</th>
                                        <td><img height="70px" width="180px" src="@item.CoverImgUrl" /></td>
                                        <td>@item.BrandName</td>
                                        <td>@item.Model</td>
                                        <td>@item.Km</td>
                                        <td>@item.Transmission</td>
                                        <td>
                                            <a href="/Admin/AdminCarFeatureDetail/Index/@item.CarID" class="btn btn-outline-info btn-rounded waves-effect waves-light">
                                                <i class="mdi mdi-information-outline"></i> Detaylar
                                            </a>

                                            <a href="/Admin/AdminCarFeatureDetail/CreateFeatureByCarID/@item.CarID" class="btn btn-outline-primary btn-rounded waves-effect waves-light">
                                                <i class="mdi mdi-star-outline"></i> Özellik Ata
                                            </a>

                                            <a href="/CarPricing/Index/" class="btn btn-outline-success btn-rounded waves-effect waves-light">
                                                <i class="mdi mdi-cash"></i> Fiyat Bilgileri
                                            </a>

                                            <a href="/Car/CarDetail/@item.CarID" class="btn btn-outline-secondary btn-rounded waves-effect waves-light">
                                                <i class="fas fa-eye"></i> Sitede Gör
                                            </a>

                                            <a href="/AdminCar/UpdateCar/@item.CarID" class="btn btn-outline-warning btn-rounded waves-effect waves-light">
                                                <i class="mdi mdi-pencil"></i> Güncelle
                                            </a>

                                            <a href="/AdminCar/RemoveCar/@item.CarID" class="btn btn-outline-danger btn-rounded waves-effect waves-light">
                                                <i class="mdi mdi-delete"></i> Sil
                                            </a>
                                        </td>

                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>

        </div>

    </div>
</div>
