@model List<ResultAllBlogWithAuthorDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
    int count = 0;
}

<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title mb-4">Blog Listesi ve İşlemleri</h4>
                        <!-- Yeni Blog Girişi Butonu -->
                        <div class="mb-4">
                            <a href="/Admin/AdminBlog/CreateBlog/" class="btn btn-primary btn-lg">
                                <i class="fas fa-plus-circle"></i> Yeni Blog Girişi
                            </a>
                        </div>
                        <!-- Tablo -->
                        <div class="table-responsive">
                            <table class="table table-hover mb-0">
                                <thead class="thead-light">
                                    <tr>
                                        <th>#</th>
                                        <th>Görsel</th>
                                        <th>Başlık</th>
                                        <th>Yazar</th>
                                        <th>Kategori</th>
                                        <th>Tarih</th>
                                        <th>İşlemler</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        count++;
                                        <tr>
                                            <th scope="row">@count</th>
                                            <td><img height="50px" width="100px" src="@item.coverImageUrl" /></td>
                                            <td>@item.title</td>
                                            <td>@item.authorName</td>
                                            <td>@item.categoryName</td>
                                            <td>@item.createdDate.ToShortDateString()</td>
                                            <td>
                                                <div class="d-flex gap-3">
                                                    <a href="/Admin/AdminBlog/RemoveBlog/@item.blogID" class="btn btn-danger mr-2">
                                                        <i class="fas fa-trash"></i> Kaldır
                                                    </a>
                                                    <a href="/Blog/BlogDetail/@item.blogID" class="btn btn-dark mr-2">
                                                        <i class="fas fa-external-link-alt"></i> Blogu Aç
                                                    </a>
                                                    <a href="/Admin/AdminComment/Index/@item.blogID" class="btn btn-primary">
                                                        <i class="fas fa-comments"></i> Yorumlar
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
